.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 100px;
  overflow: hidden;
  background-color: #000000;
}

.test {
  background-color: #FFFFFF;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  float: none;
  color: #000000;
}

.test2 {
  list-style: disc;
  background-color: #FFFFFF;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  float: none;
  
}

.test3 {
  margin: 10px;
  overflow: hidden;
  float: none;
}

.nav li {
  float: left;
}
@font-face {
  font-family: "Vollkron";
  src: url(fonts/Vollkorn-VariableFont_wght.ttf);
}

.sources {
  padding: 5px;
 }


 body {
  font-family: 'Vollkron', sans-serif;
} 

.news a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav li a:hover {
  background-color: #276d9e;
  color: white;
}

.active {
  background-color: #7ad1ef;
}

.floatright {
  float: right;
  clear: right;
  margin: 10px;
}

.floatright2 {
  float: right;
  clear: right;
  margin-right: 300px;
}

.floatleft {
  float: left;
  clear: left;
  margin-right: 10px;
  margin-bottom: 5px
}

.mar {
margin-left: 70px;
}

article {	
  padding: 10px;
}

h2 {
  margin-bottom: 5px;
  margin-top: 3px;
}

h1 {
  margin-bottom: 3px;
  margin-left: 3px
}

p{
  margin: 10px;
  font-size: 18px;
}

.test li, .test2 li{
  margin: 5px;
  margin-left: 30px;
  font-size: 18px;
}

.test3 li {
  font-size: 17px;
  margin: 5px;
}